<!DOCTYPE html>
<html>

  <head>
    <title>MOTIVATOR</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="css/default.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrapMobile.css">
  </head>

  <body>

  <div class="container">
      

    <h1>Inbox</h1>
    <a href="/myprofile"><h1>Back</h1></a>
    <div id="footer">
      <div class="navbar navbar-default col-xs-12 navbar-fixed-bottom">
        <div class="row" id="bottomNav">
          <div class="col-xs-4 text-center"><a href="/home"><i class="glyphicon glyphicon-home"></i><br>Home</a></div>
          <div class="col-xs-4 text-center"><a href="/friends"><i class="glyphicon glyphicon-th-list"></i><br>Friends</a></div>
          <div class="col-xs-4 text-center"><a href="/myprofile"><i class="glyphicon glyphicon-user"></i><br>Profile</a></div>
        </div>
      </div>
    </div>
    <!-- END NAVIGATION: HEADER -->

    <!-- BODY CODE -->
      
    </div>

    <!-- END BODY CODE -->

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="js/tasklist.js"></script>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>