<!DOCTYPE html>
<html lang="en-IN">
	<head>
        <title>TATER TASKS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="shortcut icon" type="image/png" href="img/placeholders/locked.png"/>

        <!-- CSS -->
        <link href="css/default.css" rel="stylesheet">
        <link href="css/index.css" rel="stylesheet">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<link href='http://fonts.googleapis.com/css?family=Ropa+Sans' rel='stylesheet'>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel='stylesheet'>
        <!--    END CSS   -->
	</head>
	<body>
    <div class="container">
    <div align="center" id="intro">
      <h3>Welcome to Tater Tasks!  Sign up to start making tasks with your potato friend, or log
            in to continue from your last session!</h3>
    </div>
		<div id="login-form">

		<input type="radio" checked id="login" name="switch" class="hide">
		<input type="radio" id="signup" name="switch" class="hide">

		<div>
			<ul class="form-header">
				<li><label for="login"><i class="fa fa-lock"></i> LOGIN<label for="login"></li>
				<li><label for="signup"><i class="fa fa-credit-card"></i> REGISTER</label></li>
			</ul>
		</div>
		<div class="section-out">
			<section class="login-section">
				<div class="login">
					<form id="loginForm" action="/home">
						<ul class="ul-list">
							<li><input type="email" required class="input" id="userEmail" placeholder="Your	Email"/><span class="icon"><i class="fa fa-user"></i></span></li>
							<li><input type="password" required class="input" id="userPass" placeholder="Password"/><span class="icon"><i class="fa fa-lock"></i></span></li>
							<li><span class="remember"><input type="checkbox" id="checkIn"> <label
                                    for="checkIn">Remember Me</label></span><span class="remember"><a href="#" data-toggle="modal" data-target="#forgotPasswordModal">Forget Password</a></span></li>
							<li><input type="submit" id="login" value="SIGN IN" class="btn-custom"></li>
						</ul>
					</form>
				</div>

			
			</section>

			<section class="signup-section">
				<div class="login">
					<form id="registerForm" action="">
						<ul class="ul-list">
							<li><input type="email" required class="input" id="newEmail" placeholder="Your Email"/><span
                                    class="icon"><i class="fa fa-user"></i></span></li>
							<li><input type="text" required class="input" id="newName" placeholder="Display Name"/><span
                                    class="icon"><i class="fa fa-user"></i></span></li>
							<li><input type="password" required class="input" id="newPass" placeholder="Password"/><span
                                    class="icon"><i class="fa fa-lock"></i></span></li>
							<li><input type="checkbox" id="checkUp"> <label for="checkUp">I accept terms and
                                conditions</label></li>
							<li><input type="submit" id="register" value="SIGN UP"
                                       class="btn-custom"></li>
						</ul>
					</form>
				</div>
			</section>
		</div>
	</div>
        <div id="forgotPasswordModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <!-- MODAL HEADER -->
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Forgot Password</h4>
              </div>
              <!-- MODAL BODY: FORM -->
              <div class="modal-body">
                <p>Enter in your e-mail to retrieve your password!</p>
                <div role="form">
                  <input type="email" required class="input" id="forgetEmail" placeholder="Your Email"/><span
                        class="icon"><i
                        class="fa fa-user"></i></span>
                </div>
                </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="getPass">Retrieve Password</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelPass">Cancel</button>
              </div>
            </div>
          </div>
	    </div>
    </div>


    <!--    JAVASCRIPT    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!--<script src="js/index.js"></script>-->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

   </body>

</html>