<!DOCTYPE html>
<html>

  <head>
    <title>TATER TASKS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="img/placeholders/locked.png"/>

    <!-- CSS -->
    <link href="css/settings.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>

  <body>
    <!-- BODY CODE -->
  <div class="container">
    <a href="/myprofile" id="return"><i class="glyphicon glyphicon-chevron-left"></i>Back</a>
    <h1>Settings</h1>
    <hr />
    <div class="allSettings">
        <div class="form-group">
            <label for="editName" class="{{user.0.username}}">Change Username</label>
            <input type="text" class="form-control" id="editName" placeholder="{{user.0.username}}">
        </div>

    </div>


    <hr />
    <button type="button" class="btn btn-primary btn-large" id="saveButton">Save
      Changes</button>
  </div>


    <!-- START NAVIGATION: FOOTER -->
    <div id="footer">
        <div class="navbar navbar-default col-xs-12 navbar-fixed-bottom">
            <div class="row" id="bottomNav">
                <div class="col-xs-3 text-center"><a href="/home"><i class="glyphicon
          glyphicon-home"></i><br>Home</a></div>
                <div class="col-xs-3 text-center"><a href="/friends"><i class="glyphicon
          glyphicon-th-list"></i><br>Friends</a></div>
                <div class="col-xs-3 text-center"><a href="/myprofile"><i class="glyphicon
          glyphicon-user"></i><br>Profile</a></div>
                <div class="col-xs-3 text-center"><a href="/inbox"><i class="glyphicon
          glyphicon-envelope"></i><br>Inbox</a></div>
            </div>
        </div>
    </div>
    <!-- END NAVIGATION: FOOTER -->
    <!-- END BODY CODE -->

  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="js/settings.js"></script>
    <!-- Latest compiled and minified CSS -->

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</html>