html, body {
    padding: 10px 10px 5px 5px;
    background: url("../img/bg-field.png") no-repeat fixed center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

hr.line {
    margin: 10px;
}

.container {
    background-color: rgba(255,255,255,0.5);
    padding: 10px 10px 10px 10px;
    max-width: 700px;
    height: 90%;
    overflow: scroll;
}

#return {
    font-size: 20px;
}

#battle {
    position: relative;
}

#userSkin {
    width: 100px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#friendSkin {
    width: 100px;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 15px;
}

#clockdiv > div{
    padding: 5px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 13px;
}