html, body {
    background: url("../img/bg-field.png") no-repeat fixed center;
    background-size: cover;
    height: 100%;
}

hr.line {
	margin: 10px;
}

.container {
	position: relative;
    background-color: rgba(255,255,255,0.5);
    max-width: 700px;
    height: 100%;

}

.taskDialogue{
	position: relative;
	/* Top Bottom Left Right*/
	margin-top: 10px;
	padding: 0px 10px 0px 10px;
	background-color: rgba(255,255,255,0.5);
	border: solid 2px #000000;
	border-radius: 10px;
	height: 75%;
}

.tab-content{
	position: relative;
	height: 60%;
}

.tab-pane {
	position: relative;
	height: 100%;
}

/* How to make the task lists scroll after reaching a certain length */
.list-frame {
	max-height: 100%;
	width: 100%;
	overflow: scroll;
}

/* How to not make the textfield ridiculously wide */
.form-control {
	width: 50%;
	max-width: 400px;
}

#taskDate, #taskTime, #editDate, #editTime{
	z-index: 1500 !important;
}

#companion {
    position: relative;
	float:right;
}

#pointContainer {
	 position: relative;
	 background-color: rgba(255,255,255,1);
	 border-radius: 10px;
	 /* Top Left Bottom Right*/
	 padding: 10px 20px 10px 0px;
	 float: left;

}

#pointIncrease {
	position: absolute;
	background-color: rgba(255,255,255,1);
	border: solid 2px #555555;
	border-radius: 10px;
	/* Top Left Bottom Right*/
	padding: 10px 10px 10px 10px;
	margin: 0px 0px 0px 120px;
	float: left;

	font-weight: bold;
	color: #E82C0C;
}

.emptyMessage {
    position: absolute;
    font-style: italic;
    color: #999999;

}