html, body {
    background: url("../img/bg-lake.png") no-repeat fixed center;
    background-size: cover;
    height: 100%;
}

hr.line {
	margin: 10px;
}

.container {
    background-color: rgba(255,255,255,0.5);
    max-width: 700px;
    height: 100%;

}

.taskDialogue{
	position: relative;
	/* Top Bottom Left Right*/
	margin-top: 10px;
	padding: 0px 10px 0px 10px;
	background-color: rgba(255,255,255,0.5);
	border: solid 2px #000000;
	border-radius: 10px;
	height: 75%;
}

.tab-content{
	position: relative;
	height: 60%;
}

.tab-pane {
	position: relative;
	height: 100%;
}

/* How to make the task lists scroll after reaching a certain length */
.list-frame {
	max-height: 100%;
	width: 100%;
	overflow: scroll;
}

/* How to not make the textfield ridiculously wide */
.form-control {
	width: 50%;
	max-width: 400px;
}

#taskDate, #taskTime, #editDate, #editTime{
	z-index: 1500 !important;
}

/*
 * Potato Friend found here
 * TODO: Figure out how to position the potato friend
 *
 */
#companion {
    position: relative;
	float:right;
}