html, body {
    background: url("../img/bg-lake.png") no-repeat fixed center;
    background-size: cover;
    height: 100%;
}

hr.line {
	margin: 10px;
}

.container {
    background-color: rgba(255,255,255,0.5);
    max-width: 700px;
    height: 100%;

}

.taskDialogue{
	position: relative;
	/* Top Bottom Left Right*/
	padding: 0px 10px 0px 10px;
	background-color: rgba(255,255,255,0.5);
	border: solid 2px #000000;
	border-radius: 10px;
	height: 75%;
}

.tab-content{
	position: relative;
	height: 70%;
}

.tab-pane {
	position: relative;
	height: 100%;
}

/* How to make the task lists scroll after reaching a certain length */
.list-frame {
	max-height: 100%;
	width: 100%;
	overflow: scroll;
}

/* How to not make the textfield ridiculously wide */
.form-control {
	width: 50%;
	max-width: 400px;
}

#taskDate, #taskTime{
	z-index: 1500 !important;
}

/*
 * Potato Friend found here
 * TODO: Figure out how to position the potato friend
 *
 */
#companion {
    position: relative;
}

.glyphicon.glyphicon-cog {
	font-size: 20px;
}

.glyphicon.glyphicon-envelope {
	font-size: 20px;
}

.potatoskins img {
	max-width: 75px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.potatoskins img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}